* {
  margin: 0;
  padding: 0;
  font-family: Pretendard;
}

#image-container {
  position: relative;
  width: 100vw; /* 이미지 너비에 맞게 조정 */
}

#image {
  width: 1920px;
  height: 1080px;
}

.sector {
  position: absolute !important;
  cursor: pointer !important;
  border-radius: 70px !important;
}

.sector.btn.btn-primary {
  background-color: blue;
  opacity: 0;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
}

.modal-title {
  font-weight: bold;
  font-size: 4rem;
}

.modal-body {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.modal-body p {
  margin: 1%;
  padding: 1%;
}

.modal-body img {
  width: 1800px;
  height: 800px;
  margin: 0 auto;
}

.modal-footer button {
  font-size: 1.6rem;
  margin-right: 2%;
}

.hover-area {
  position: absolute;
  display: inline-block;
}

.hover-image {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: -290%;
}

.hover-area:hover .hover-image {
  display: block;
}
