* {
  margin: 0;
  padding: 0;
  font-family: Pretendard;
}

#image-container {
  position: relative;
  width: 100vw; /* 이미지 너비에 맞게 조정 */
}

#image {
  width: 1920px;
  height: 1080px;
}

.sector {
  position: absolute !important;
  cursor: pointer !important;
  border-radius: 70px !important;
}

.sector:nth-child(1) {
  background-color: blue;
  opacity: 0;
}

.sector:nth-child(2) {
  background-color: red;
  opacity: 0;
}

.sector:nth-child(3) {
  background-color: green;
  opacity: 0;
}

.sector:nth-child(4) {
  background-color: yellow;
  opacity: 0;
}

.sector:nth-child(5) {
  background-color: purple;
  opacity: 0;
}

.sector:nth-child(6) {
  background-color: pink;
  opacity: 0;
}

.sector:nth-child(7) {
  background-color: orange;
  opacity: 0;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
}

.modal-title {
  font-weight: bold;
  font-size: 2rem;
}

.modal-body {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.modal-body img {
  width: 1500px;
  height: 800px;
  margin: 0 auto;
}
